---
---

body {
    background-color: #121212;
}
$body-text-color: #FFFFFFDE;

@import "{{ site.theme }}";
.site-footer {
    display: none;
}
h3 {
    a {
        text-decoration: underline;
    }
}
